*{
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}
header{
    display: flex;
    justify-content: center;
    padding: 10vh;
    font-size: 6vh;
    color: #C262AF;
}
main{
    display: flex;
    justify-content: center;
}
section{
    display: flex;
   flex-direction: column;
    max-width: 30vh;
    padding: 5vh;
   margin-left: 5vh;
    background-color: white;
    box-shadow: 10px 10px 10px #dacdd9;
    align-self: flex-start;
}

h2{
    text-align: center;
    padding-top: 3vh;
    margin-bottom: 3vh;
    background-color: white;
}
p{
    background-color: white;
}
#creacion{
    margin-top: 20vh;
 
}
footer{
    padding-top: 20vh;
    flex-direction: column;
    align-items: center;

}
hr{
   
    transform: translate(30%);
    max-width: 130vh;
    border-color: #c492ba;
}
h6{
    display: flex;
    justify-content: center;
    padding: 1vh;
    color: #C262AF;
}
@media screen and (min-width:352px) and (max-width:480px){
    body{
        header {
            display: flex;
            justify-content: center;
            padding: 10vh;
            font-size: 3vh;
            color: #C262AF;
            max-width: 100%;
        }
        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        #creacion{
            margin-bottom: 20vh;
         
        }
        section{
            display: flex;
           flex-direction: column;
            max-width: 30vh;
            padding: 5vh;
       
            background-color: white;
            box-shadow: 10px 10px 10px #dacdd9;
            align-self: flex-start;
        }
        hr{
   
            transform: translate(10%);
            max-width: 80%;
            border-color: #c492ba;
        }
       
    }
}